<script type="text/javascript">
  var days = ["mon","tue","wen","thu","fri","sat"];
  var lock=false;
  function create_days(){
    for (var i in days){
      var day = '<div id=\"'+days[i] +'1\" class=\"day\">'+
        '<div class=\"day_head\"><b>'+days[i] + '</b>'+
        '<%=number_field_tag "hours_count","1",:class=>'hours_count', :onclick=>'add_hour(this);'%>'+              
        '</div></div>';
      $('#shedules_table').append(day);
    }
  
  }
  
  function add_group(){
    var count = $('#group_count').val(); 
    var count2 = $("#groups .count").val();
    for (var i=count2;i<count;i++){
      create_group_col(i);
    }
    $("#groups .count").val(count);
  }
  
  function fill_group(group_num, group_id){
    for (var day in days){
      hours = $("#"+days[day]+"1 .hours_count").val()
      $("#"+days[day] + "1  .day_group"+group_num).html("");
      for (var i=1;i<=hours;i++){
        $.ajax({
          async:false,
          type: 'GET',
          url: 'get_one_shedule_form/'+day+"/"+i+"/"+group_id,
          dataType: "html",
          success: function (data){
            $("#"+days[day]+'1 .day_group'+group_num).append(data);
          } 
        });
      }
    }
  }
  
  function create_group_col(group_num){
    var group_list='<%=render :partial=>"/groups/group_list"%>' // DON`T CHANge name of this class!!!!!
    $('#groups_head').append(group_list);
    $('#groups_head select').last().addClass("group_select"+group_num);
    $('#groups_head select').last().click(function(){
      var id = this.value;
      if (id != "" && id!= ""){
        fill_group(this.className[12],id);
      }
      for (var i=0;i<5;i++){
        $('.day_group' + this.className[12]+" #shedule_group_ids").val(id);
      }
    });
    
    for (var day in days){
      hours = $("#"+days[day]+"1 .hours_count").val()
      $("#"+days[day] + "1").append("<div class='day_group_div day_group"+group_num+"'></div>");
      for (var i=1;i<=hours;i++){
        $.ajax({
          async:false,
          type: 'GET',
          url: 'get_one_shedule_form/'+day+"/"+i,
          dataType: "html",
          success: function (data){
            $("#"+days[day]+'1 .day_group'+group_num).append(data);
          } 
        });
      }
    }
  }
  
  function add_hour(p_this){  
    var group_count = $('#group_count').val(); 
    var new_count = $(p_this).val();
    var day = $(p_this).parent().parent().attr('id');
    for (var i=0;i<=group_count;i++){
      $.ajax({
        async:false,
        type: 'GET',
        url: 'get_one_shedule_form/'+day[3]+"/"+new_count,
        dataType: "html",
        success: function (data){
          $("#"+day+' .day_group'+i).append(data);
        } 
      });
    }
    
  }
  
  function show_shedule_form(p_this){
    $(p_this).children(" .new_shedule").show();
    $(p_this).children(" .edit_shedule").show();
  }
</script>
<div id="shedules_widget">
  <div id="shedules_widget_root">
    <div id="groups_head">
      <div style="width:100px;"><%=number_field_tag "group_count","1", :id=>"group_count", :onclick=>"add_group();"%></div>
    </div>
    <div id="shedules_table">
      <div id="groups"><input type="hidden" class="count" value="0"></div>
      <script type="text/javascript">
        create_days();
      </script>
    </div>
  </div>
</div>