
<%= form_for @p_types, :remote => true do |ft| %>

  <%=ft.text_field :name , :class => 'submittable'%><br>

  <div class="actions">
    <%= ft.submit "Добавить тип", :class=>"button_send_message button_blue" %>
  </div>
<% end %>
