 
$("#publication_types_sel").replaceWith('<select id="publication_publication_type_id" name="publication[publication_type_id]"><%PublicationType.all.each do |p_t|%><option value="<%=p_t.id%>"> <%=p_t.name%></option><%end%></select>');
$("#notification_area").replaceWith('<div id ="notification_area"><p id="notification" class="notification">Publication Type "<%= @publication_type.name%>" was seccesfully added</p></div>')
$("#publication_type_notif").replaceWith('<div id ="publication_type_notif"><img src="/media/img/added.png">"<%= @publication_type.name%>"was added!</div>')
$("#notification_area").fadeOut(6000);
$("#publication_type_notif").fadeOut(5000);