<h1>Listing publications</h1>


<div id="publications_table">
  <% @publications.each do |publication| %>
    <div class="pub_div">
      <%=image_tag publication.photo%>
      <div class="title"><%=publication.title%></div>
      <div class="prolog"><%=publication.prolog%></div>
       
    </div>
  <% end %>
</div> 
<br />

<%= link_to 'New Publication', new_publication_path %>
