// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*#popup_message{
    position: absolute;
    top: 0;
    left: 700px;
    width: 200px;
    background-color: #55ff55;
    opacity: 0.5;
    float: left;
    padding: 10px;
    display:none;
}

#popup_message_body{
    color:black;
    background-color: white;
    opacity: 0.9;
}
*/

#dialog_messages{
    float:left;
    height:300px;
    width:400px;
    overflow:auto;
    background-color: #ddddff;
}

.dialog_message{
    width:380px;
    float:left;
    margin:5px;
    background-color: #ffffff;
}


#popup_message{	
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px #FFFFFF;
    -moz-box-shadow: 0px 0px 13px #FFFFFF;
    box-shadow: 0px 0px 13px #FFFFFF;
    box-shadow: 0px 0px 13px #FFFFFF;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    text-align: justify;
    color: #FFFFFF;
    width:350px;
    display:none;
    left: 50px;
    top:100px;
    line-height:normal;
    position: absolute;
}

a.link_popup_message{
    color:#87CEEB; 
    float:left; 
    font-weight: bold;
}

a.link_popup_message:hover{
    text-decoration:underline;
}

.img_photo_radius {
    width: 64px;
    height: 64px;
    margin-right: 8px;
    overflow: hidden;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.img_popup_message_new_info { /* Изображение для всплывающего сообщения */
    border: 0 none;
    float: left;
    margin: -20px 0 0 -24px;   
}

.img_popup_message_new_close { /* Изображение для всплывающего сообщения */
    border: 0 none;
    margin: 0 0 0 330px;   
}