// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*------------------------------------------------------------------------------
#popup_message{
    position: absolute;
    top: 0;
    left: 700px;
    width: 200px;
    background-color: #55ff55;
    opacity: 0.5;
    float: left;
    padding: 10px;
    display:none;
}

#popup_message_body{
    color:black;
    background-color: white;
    opacity: 0.9;
}


#dialog_messages{
    height:400px;
    overflow:auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.dialog_message{
    width:380px;
    float:left;
    margin:5px;
    background-color: #ffffff;
}-----------------------------------------------------------------------------*/

/*------------------------------Popum message---------------------------------*/
#popup_message{	
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px #FFFFFF;
    -moz-box-shadow: 0px 0px 13px #FFFFFF;
    box-shadow: 0px 0px 13px #FFFFFF;
    box-shadow: 0px 0px 13px #FFFFFF;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    text-align: justify;
    color: #FFFFFF;
    width:350px;
    display:none;
    left: 50px;
    top:100px;
    line-height:normal;
    position: absolute;
}

a.link_popup_message{
    color:#87CEEB; 
    float:left; 
    font-weight: bold;
}

a.link_popup_message:hover{
    text-decoration:underline;
}

.img_photo_radius {
    width: 64px;
    height: 64px;
    margin-right: 8px;
    overflow: hidden;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.img_popup_message_new_info { /* Изображение для всплывающего сообщения */
    border: 0 none;
    float: left;
    margin: -20px 0 0 -24px;   
}

.img_popup_message_new_close { /* Изображение для всплывающего сообщения */
    border: 0 none;
    margin: 0 0 0 330px;   
}
/*----------------------------------------------------------------------------*/

/*--------------------------------Dialog top bar------------------------------*/
#dialog_top_bar{
    height:50px;
    border:1px solid #fff;
    background-image: -moz-linear-gradient(top, #808080, #D3D3D3);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #808080), color-stop(1.0, #D3D3D3));
    background-color: #DDDDDD;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

#dialog_container{
    height:400px;
    overflow:auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
/*----------------------------------------------------------------------------*/

/*--------------------------------Dialog message------------------------------*/
.dialog_message{
    min-height:44px;
    padding:6px;
    border:1px solid #FFFFFF;
    padding:3px 6px 4px 47px;
    position:relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.dialog_message_to{             /*my message*/
    background-color: #bed3e8;
    margin-left: 60px;
    margin-right: 10px;   
     
}

.dialog_message_from{           /*message to me*/
    background-color: #dfdfdf;
    margin-right: 60px;  
    margin-left: 10px;     
}

.dialog_message_text{
    color:#444444;
    display:inline-block;
    font-size:13px;
    overflow:hidden;
    vertical-align:top;
    width:410px;
    text-align: justify;
    margin-left:5px;
}

.dialog_message_avatar{
    left:7px;
    position:absolute;
    top:7px;
}

.dialog_message_checkmark{
    left:485px;
    top: 30px;
    position:absolute;
    width: 21px;
    height: 12px;
    display: none;
}


.dialog_message_img{
    display:block;
    width: 35px;
    height: 35px;
}

.dialog_message_time{
    position:absolute;
    right:10px;
    top:8px;
    color: #7f9aaf;
    font-size:12px;
}

.dialog_message_author{
    font-size:13px;
    margin-left:5px;
    color: #31587a;
    font-weight: bold;
}
/*----------------------------------------------------------------------------*/


/*----------------------------Dialog message not readed-----------------------*/
.dialog_message_not_readed{
    background-color: #9bbde0;
}
/*----------------------------------------------------------------------------*/

/*---------------------------Dialog bottom bar--------------------------------*/
#dialog_bottom_bar{
    background-color: #dfdfdf;
    position:relative;
    padding:10px;
    border:1px solid #fff;
    background-image: -moz-linear-gradient(top, #808080, #D3D3D3);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #808080), color-stop(1.0, #D3D3D3));
    background-color: #DDDDDD;
}

#dialog_bottom_bar .tip{
    position:absolute;
    width:0;
    height:0;
    border:10px solid transparent;
    border-bottom-color:#808080;
    top:-20px;
    left:20px;
}
/*----------------------------------------------------------------------------*/

.rounded{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;	
}

.dialog_my_text {
    width: 490px;
    height: 52px;
    padding: 3px;
    margin-left: 10px;
    outline: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border-color: #31587a;
    resize: none;
}

td#im_user_holder {
    width: 50px;
    padding-right: 10px;
    vertical-align: top;
}

.dialog_write_form {
    vertical-align: top;
}

.button_send_message{
    margin-left: 10px;
    margin-top: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 13px ;
    display: inline-block;
    text-align: center;
    color: #fff;

    border: 1px solid #9c9c9c; /* Fallback style */
    border: 1px solid rgba(0, 0, 0, 0.3);            

    text-shadow: 0 1px 0 rgba(0,0,0,0.4);

    box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
}

/*------------------------Button for sending new message----------------------*/
.button_send_message, .button_send_message span{
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.button_send_message:hover
{
    box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
}

.button_send_message:active{
    /*При нажатии на кнопку,она опускается вниз 1px*/
    position: relative;
    top: 1px;
}

.button_blue{
    background: #4477a1;
    background: -webkit-gradient(linear, left top, left bottom, from(#81a8cb), to(#4477a1) );
    background: -moz-linear-gradient(-90deg, #81a8cb, #4477a1);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81a8cb', endColorstr='#4477a1');
}

.button_blue:hover{
    background: #81a8cb;
    background: -webkit-gradient(linear, left top, left bottom, from(#4477a1), to(#81a8cb) );
    background: -moz-linear-gradient(-90deg, #4477a1, #81a8cb);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4477a1', endColorstr='#81a8cb');
}

.button_blue:active{
    background: #4477a1;
}
/*----------------------------------------------------------------------------*/