// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* 
    Document   : main
    Created on : 05.10.2011, 19:28:14
    Author     : chef
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    /*  display: block;*/
}

.container {
    width: 90%;         
}


.face {
    position: absolute;
    top: 35px;
    left: 50%;
    padding-right: 10px;
}

.logo {    
    padding-left: 10px;
}

.findText {
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px; 

    position: absolute;
    top: 110px;
    right: 13%;
}


.infoMenu{
    background-image: url("fon.jpg");
    background-position:50% 0;
    background-repeat:no-repeat no-repeat;
    height: 250px;
    width:100%;
    position: relative;
    margin-bottom: 30px;
}


.mainMenu{    
    background-attachment:initial;
    background-clip:initial;
    background-color:#00162F;
    background-origin:initial;
    background-position:0 0;    
    border-bottom-color:#000D1D;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-top-color:#000D1D;
    border-top-style:solid;
    border-top-width:1px;
    height: 40px;    
    z-index:50;
    position: absolute;
    top: 210px;    
    width:100%;
}

.mainMenu nav ul li {
    float:left;
    text-align:center;
    text-transform:uppercase;
    width: 16.65%;
}

.mainMenu nav ul li a{
    color:#C2D7EF;
    cursor:pointer;
    font-size:11px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    border-right-color:black;
    border-right-style:solid;
    border-right-width:1px;
    display:block;
    height:17px;
    outline-color:initial;
    outline-style:none;
    outline-width:initial;
    padding-bottom:10px;
    padding-left:0;
    padding-right:0;
    padding-top:10px;
}

.mainMenu nav ul li a:hover{
    background-color: #2e4c70;
}

.subMenu{
    background-color: #2e4c70;
    width: 25%;
    height: 210px;  
    padding: 5px 5px 0 10px;    
}

.subMenu li{
    margin: 0 10px 16px 3px;  
}


.subMenu li a{
    color:white;
}


.siteMenu {

}

ul{
    list-style: none;
}

.siteMenu ul li{
    float: left;
    width: 32%;
    margin-right: 1%;
    text-align: left;
    position: relative;
}

.siteMenu ul h3{
    height: 14px;
    padding-right: 5px;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0;
}


.siteMenu ul li ul {
    margin: 0 0 50px 0;
    padding: 2px 0 0 0;    
}

.siteMenu ul li ul li {
    float: none;
    width: auto;
    font-size: 1em;
    line-height: 1.3em;
    list-style: disc;
    margin: 0 0 7px 0;
    padding: 0 0 0 10px;
}













body {
    background: #012148;
}

header {
    padding-top: 20px;
}

header img {
    padding: 1em;
    background: #012148;
}

section {
    margin-top: 1em;
    font-size: 100%;
    padding: 20px;  
    color: #aabdd5;
    min-width: 768px;
}

a {
    color: #aabdd5;
    text-decoration: none;
}


/* Navigation */
nav {
    float: none;
    background-color: #00132c;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    font-weight: bold;
    text-align:center;
    text-transform:uppercase;
    font-size:12px;
}
/*
nav ul li a:visited {
    color: #09c;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

footer nav {
    float: none;
}
*/
.round {
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

.footer{
    text-align: center;
    margin-top: 10px;
    
}

