// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* 
    Document   : main
    Created on : 05.10.2011, 19:28:14
    Author     : chef
    Description:
        Purpose of the stylesheet follows.
*/