// Place all the styles related to the Publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#publication_form{
	width:500px;
	float:left;
	padding:10px;
}

.notif_error{
    background-color:#ff4444;
}

.notif_success{
    background-color:#a2aaff;
}




#publication_type_notif{
        color:black;
	display: none;
	width:200px;
	position:absolute;
        padding:10px;
	z-index:100;
	-moz-border-radius:    10px;
    	-webkit-border-radius: 10px;
   	 border-radius:         10px;
	opacity: 0.6;
}

#publication_type_notif p{
    opacity: 1;
    z-index:200;
}

#publication_type_form{
    display:none;
    position:absolute;
    width:300px;
}

#publication_type_sel{
    float:left;
    width: 500px;
    padding:10px;
}


#publication_cat_notif{
        color:black;
	display: none;
	width:200px;
	position:absolute;
        padding:10px;
	z-index:100;
	-moz-border-radius:    10px;
    	-webkit-border-radius: 10px;
   	 border-radius:         10px;
	opacity: 0.3;
}

 #publication_cat_notif p{
    opacity: 1;
    z-index:200;
}

#publication_cat_form{
    display:none;
    position:absolute;
    width:300px;
}

#publication_cat_sel{
    float:left;
    width: 500px;
    padding:10px;
}

.check_box_subject{
    width: 90px;
    float:left;
    padding:10px;
}

#publication_subject_sel{
    float:left;
    width: 500px;
    padding:10px;
}

#publications_table{
    width: 100%;
    float:left;
}
#publications_table .pub_div{
    width: 30%;
    max-width: 30%;
    float:left;
    margin:5px;
    margin-top:10px;
}
#publications_table .pub_div .prolog{
    width: 100%;
    max-width: 100%;
    float:left;
    font-size: 12px;
}

#publications_table .pub_div .title{
    width: 100%;
    max-width: 100%;
    float:left;
    font-size: 14px;
    font-weight: 900;
    color: #993300;
}
#publications_table .pub_div .user{
    width:100%;
    float:left;
    font-size: 14px;
    font-weight: 900;
    color: #339933;
    text-align: right;
    vertical-align: bottom;
}
#publications_table .pub_div .user .photo{
    width:40%;
    min-width:70px;
    float:left;
    z-index: 2;
}

#publications_table .pub_div .user .photo_div{
     width:100%;
    float:left;
}

#publications_table .pub_div .user .login{
    width:100%;    
    float:left;
    margin-top: -20px;
}
#publications_table .pub_div img{
    width: 100%;
    max-width: 100%;
    float:left;
}

#news_div h3{
    font-size:14px;
    font-weight:900;
}
#news_div div{
    margin-top:10px;
    margin-left:5px;
}

#news_div .title{
    font-size:12px;
    font-weight:900;
}

#news_div .img_prolog{
    font-size:10px; 
}
#news_div  img{
    float:right;
    height:70px;
}
