#shedules_widget_root{
    background-color:white;
    position:absolute;
    top:100px;
    left:100px;
    width: 90%;
    z-index:100;
    border: #001020 5px solid;
    padding:10px;
}

#shedules_table{
    width:100%;
    float:left;
}

#shedules_table .day .hours_count{
    width:40px;
}

#shedules_table .day {
    width:100%;
    min-width:100%;
    float:left;
    margin-bottom:10px;
    background-color: #eeeeee;
}
#shedules_table .day b{
    width:30px;
}
#shedules_table .day .day_head{
    width:100px;
}

#shedules_table .day * {
    float:left;
}


#shedules_table .day .day_group_div{
    width:120px;
    float:left; 
    background-color:#d0d0d0;
    padding-left:5px;
    padding-right:5px;
    margin:3px;
}

#groups_head #group_count  {
    width:50px;
}

#groups_head *{
    float:left;
}
#groups_head select{
    width:126px;
    margin-right:7px;
    margin-left: 3px;
}



#shedules_table .day .shedule{
    width:100px;
    float:left;
}

#shedules_table .day .shedule .label{
    width:100px;
    float:left;
}


#shedules_table .shedule .new_shedule {
    display:none;
    float:left;
    width:200px;
    position:absolute;
    background-color: #c0bbff;
    margin: -20px;
}

#shedules_table .shedule .new_shedule *{
    float:left;
}
#shedules_table  .new_shedule input{
    width:90px;
}
#shedules_table  .new_shedule label{
    width:90px;
}

#shedules_table .shedule .edit_shedule {
    display:none;
    float:left;
    width:200px;
    position:absolute;
    background-color: #c0bbff;
    margin: -20px;
}

#shedules_table .shedule .edit_shedule *{
    float:left;
}
#shedules_table  .edit_shedule input{
    width:90px;
}
#shedules_table  .edit_shedule label{
    width:90px;
}