#shedules_table{
    width:100%;
    float:left;
}

#shedules_table .day .hours_count{
    width:40px;
}

#shedules_table .day {
    width:100%;
    margin-bottom:-15px;
}
#shedules_table .day b{
    width:30px;
}
#shedules_table .day .day_head{
    width:100px;
}

#shedules_table .day * {
    float:left;
}

#shedules_table .day .shedule{
    width:100px;
    float:left;
}

#shedules_table  .new_shedule input{
    width:100px;
    float:left;

}