<% if @user.errors.any? %>
  $("#notification_area").replaceWith('<div id ="notification_area"><ul><%@user.errors.full_users.each do |msg| %><li><%= msg %></li><% end %></ul><%=@user.errors.full_users.count%></div>');
  $("#notification_area").addClass("notif_error");
<%else%>
  $("#notification_area").replaceWith('<div id ="notification_area"><p id="notification" class="notification">user "<%= @user.login%>"  was seccesfully created</p></div>');
  $("#notification_area").addClass("notif_success");
<% end %>
  $("#notification_area").offset( { left: 0, top: 0 } );


$("#notification_area").show('fast');
$("#notification_area").fadeOut(6000);