<% if @user.errors.any? %>
  $("#notification_area").replaceWith('<div id ="notification_area"><ul><%@user.errors.full_users.each do |msg| %><li><%= msg %></li><% end %></ul><%=@user.errors.full_users.count%></div>');
  $("#notification_area").addClass("notif_error");
<%else%>
  $("#notification_area").replaceWith('<div id ="notification_area">Пользователь <a href="/users/<%=@user.id%>"><%= @user.login%></a> удачно зарегестрирован</div>');
  $("#notification_area").addClass("notif_success");
<% end %>

$("#notification_area").show('fast');
$("#notification_area").fadeOut(6000);