<% if  @errors.nil? %>
  $("#notification_area").replaceWith('<div id ="notification_area"><p><%=@errors%></p> </div>');
  $("#notification_area").addClass("notif_error");
  $("#notification_area").offset( { left: 500, top: 0 } );
  $("#notification_area").show('fast');
  $("#notification_area").fadeOut(10000);
<%  end %>

<%unless ! @errors.nil? %>
  window.location.reload()
  <%session[:login_success]="success"%>
<%end%>
