$("#notification_area").replaceWith('<div id ="notification_area">Перед регистрацией неоходимо выйти</div>');
$("#notification_area").addClass("notif_success");

$("#notification_area").slideDown("slow");
$("#notification_area").delay(2000);
$("#notification_area").slideUp("slow");