<!DOCTYPE html>
<%@message = Message.new%>
<%= form_for(@message, :remote => true, :url => "/messages/create") do |f| %>
  Сообщение:
  <%=f.text_field :text%>
  <br>
  Кому:
  <%-f.label "User to"%>
  <%=f.select :userto_id, User.all.collect {|p| [ p.login, p.id ] }, {:include_blank => 'None'}%>

  <div class="actions">
    <%= f.submit :сиськи%>
  </div>
<% end %>
  

	<p class="name">
		<input type="text" name="name" id="name" />
	</p>

	<p class="text">
		<textarea name="text"></textarea>
	</p>
