<script type="text/javascript">
  
 
    </script>
    <div id="popup_message">
      <div id="popup_message_head">
        <%=link_to "Mark readed", {:controller=>"messages",:action=>"read",:id=>1},:remote=>true%>
      </div>
      <div id="popup_message_body">

      </div>
    </div>