<%# @us.each do |user| %>
  <%#*<li class="autocomplete_item"><%= user.login %></li>
<%# end %>

<div class="autocomplete_w1">
    <div style="width:299px;" id="Autocomplete_query" class="autocomplete">
      <% @us.each do |user| %>
        <div onclick="$('#login_input').val('<%=user.id%>');"><%=user[:login]  %></div>
      <% end %>
        
    </div>
</div>