<% for user in @users %>
  <li class="autocomplete_item"><%= user.login %></li>
<% end -%>

<div class="autocomplete_w1">
    <div style="width:299px;" id="Autocomplete_query" class="autocomplete">
      <div><strong>Li</strong>beria</div>
      <div><strong>Li</strong>byan Arab Jamahiriya</div>
      <div><strong>Li</strong>echtenstein</div>
      <div class="selected"><strong>Li</strong>thuania</div>
    </div>
</div>