<h1>Dialogs</h1>
<br>  
<h4><%=link_to "Send message","/messages"  %></h4><br>
<% @dialog_info.each do |di| %>
  <%  message = di[:message] %>
  <%  @info = di[:info] %>
  <div class = "dialogs_dialog">
    <%=link_to "open dialog with " + User.find(@info[:user_from]).login, "/messages/dialog/"+@info[:user_from].to_s()%>
    <%unless message.text.nil?%>
      <p> <%=message.text.slice(0..150)+"..."%></p>
    <%end%>
    <p> <%=message.created_at%></p>
  </div>
<% end %>