<h1>Dialogs</h1>

<!--% @dialog_info.each do |di| %>
  <%  message = di[:message] %>
  <%  @info = di[:info] %>
  <div class = "dialogs_dialog">
    <%=link_to "open dialog", dialog_path(@info[:user_from])%>
    <p> <%=User.find(@info[:user_from]).login%></p>
    <p> <%=message.text%></p>
    <p> <%=message.created_at%></p>
  </div>
<% end %-->
